html,
body,
#root {
  height: 100%;
  background-color: #333a40;
}
.p-2.card-img {
  border-radius: 1.5rem;
}
.card-body .list-group {
  max-width: 300px;
}
.list-group .list-group-item {
  background-color: #6c757d;
}
.list-group .list-group-item {
  border-color: rgb(155, 154, 154);
}
.list-group .list-group-item.link-info:hover {
  cursor: pointer;
}
.card .list-group-item {
  padding: 0;
}
.row.my-row {
  align-items: flex-start;
}
.card-body {
  padding-top: 0.5rem;
}
.pagination {
  justify-content: space-between;
}
.page-item {
  flex-basis: 45%;
}
.page-link {
  color: white;
  background-color: #6c757d;
  width: 100%;
}
